<div>

    <h2>Majors</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="major.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Major</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMajorConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(major.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Major?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>MajorId</th>
                <th>MajorName</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="major in majors">
                <td><a ui-sref="major.detail({id:major.id})">{{major.id}}</a></td>
                <td>{{major.majorId}}</td>
                <td>{{major.majorName}}</td>
                <td>
                    <button type="submit"
                            ui-sref="major.detail({id:major.id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                    </button>
                    <button type="submit"
                            ui-sref="major.edit({id:major.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(major.id)"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
